<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Catalogo</servlet-name>
        <servlet-class>pizze.Catalogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>amministrazione</servlet-name>
        <servlet-class>amministrazione.amministrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestore</servlet-name>
        <servlet-class>servlet.Gestore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Amministrazione</servlet-name>
        <servlet-class>amministrazione.Amministrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prova</servlet-name>
        <servlet-class>prova</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pippo</servlet-name>
        <servlet-class>pippo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visualizzaPizza</servlet-name>
        <servlet-class>pizze.visualizzaPizza</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Catalogo</servlet-name>
        <url-pattern>/Catalogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>amministrazione</servlet-name>
        <url-pattern>/amministrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestore</servlet-name>
        <url-pattern>/Gestore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Amministrazione</servlet-name>
        <url-pattern>/Amministrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prova</servlet-name>
        <url-pattern>/prova</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pippo</servlet-name>
        <url-pattern>/pippo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visualizzaPizza</servlet-name>
        <url-pattern>/visualizzaPizza</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
